<%- include('includes/head')%>
<%- include('includes/nav')%>


        <div class="container">
            <div class="row">
                <div class="col-lg2"></div>
                <div class="col-lg8 my-3">
                    <h1 class="text-center">Contato</h1>
                    <p class="text-center lead">Crie contatos ou edite existentes:</p>
                    <%- include('includes/messages') %>

                    <% if(contato._id) { %>
                        <form action="/contato/edit/<%= contato._id %>" method="POST">
                        <% } else { %>
                        <form action="/contato/register" method="POST">
                        <% } %>
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="form-group">
                            <label for="nome" class="form-label">Nome</label>
                            <input value="<%=contato.nome %>" type="text" class="form-control" name="nome">
                        </div>
                        <div class="form-group">
                            <label for="sobrenome" class="form-label">Sobrenome</label>
                            <input value="<%=contato.sobrenome %>" type="text" class="form-control" name="sobrenome">
                        </div>
                        <div class="form-group">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input value="<%=contato.telefone %>" type="tel" class="form-control" name="telefone">
                        </div>
                        <div class="form-group" >
                            <label for="email" class="form-label">E-mail</label>
                            <input value="<%=contato.email %>" type="email" class="form-control" name="email">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Adicionar contato</button>
                    </form>

                    <div class="responsive-table">
                        <table class="table my-3">
                            <tr>
                                <td>Rodolpho</td>
                                <td>Marinho</td>
                                <td>(19)98440-8446</td>
                                <td>andreazzamarinho@gmail.com</td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
                <div class="col-lg2"></div>
            </div>
        </div>
        <%- include('includes/footer')%>