<!-- Em dias-da-semana.ejs -->
<%- include('includes/head')%>
<%- include('includes/nav')%>

<section>
  <div class="container py-5 h-100">
    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
      <div class="card-body p-4 p-md-5">
        <h1 class="text-center">Turma: <%= turma.codTurma %>, Mes de Janeiro</h1>
        <h3 class="text-center">Horário: <%= turma.horarioInicio %> até <%= turma.horarioFim %> </h3>
  
        <form action="/turma/frequencia/" method="POST">

        <input type="hidden" name="_csrf" value=<%=csrfToken%>>
        <input type="hidden" name="codTurma" value="<%= turma.codTurma %>">
        <input type="hidden" name="cursoTurma" value="<%= turma.cursoTurma %>">
        <input type="hidden" name="mes" value="janeiro" >
        <table class="table table-hover table-bordered table-sm my-3">
            <p><b>Frequências:</b></p>
          <tr>
            <th></th>
 
                <td>1/1/24</td>
                <td>8/1/24</td>
                <td>15/1/24</td>
                <td>22/1/24</td>
                <td>29/1/24</td>
            
        </tr>
        <% let numero = 0; %>
        <% alunos.forEach(aluno=> { %>
            <% if(aluno.turma1==turma.codTurma ||
                aluno.turma2==turma.codTurma) { %>
                    <% numero += 1; %>
        <tr>
            <th><%- aluno.name.split(' ').map((word) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></th>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="aluno<%=numero%>1">
                <option value="" disabled>Escolha uma opção</option>
                <option value="" ></option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="aluno<%=numero%>2">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="aluno<%=numero%>3">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="aluno<%=numero%>4">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="aluno<%=numero%>5">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
        </tr>
        <% }}); %>
       
          <!-- Adicione dinamicamente as linhas da tabela com os dias da semana -->
            
        </table>

        <br>
        <table class="table table-hover table-bordered table-sm my-3">
            <p><b>Anotações:</b></p>
            <tr>
                <td><label for="exampleFormControlTextarea1">1/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">8/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">15/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">22/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">29/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>

        </table>

        <div class="mt-4 pt-2 d-flex align-items-center justify-content-center">
            <input class="btn btn-primary btn-lg" type="submit" value="Atualizar Frequência" />
            </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer')%>
